<footer th:fragment="footer">
    <div class="footer-nav">
        <ul>
            <li><a th:href="@{/about}">내담씨앤씨 안내</a></li>
            <li><a th:href="@{/terms}">이용약관</a></li>
            <li><a th:href="@{/privacy}">개인정보처리방침</a></li>
            <li><a th:href="@{/sitemap}">사이트맵</a></li>
        </ul>
    </div>

    <div class="footer-info">
        <p>
            내담C&C (주)내담씨앤씨 all right reserved.<br>
            본사 주소 : 경기도 성남시 분당구 판교역로 231, 5동 711호(삼평동, 에이치스퀘어)<br>
            지사 주소 : 서울시 금천구 벚꽃로 298 대륭포스트타워6차 612호(가산동 50-3)<br>
            대표전화 : 02-2083-5590 / FAX : 02-2083-5594
        </p>
    </div>
</footer>

</body>
</html>
