<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${subject}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div style="display: flex; align-items: center;">
        <!--<p th:text="${userType}"></p>
        <p>님, 안녕하세요!</p>-->
    </div>
    <br/>
	<span th:text="${target}"></span><span>님이 <b>회원가입 승인을 요청</b>하셨습니다.</span>
    <br/>
<!--    <img src="cid:logo" alt="Logo" style="max-width: 200px;"/>
-->
</body>
</html>
