<div th:fragment="passwordTab">
  <form id="passwordForm" onsubmit="modifyPassword(event)">
	<input type="hidden" name="userId" id="userId" th:value="${user.userId}" />
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">현재 비밀번호</label>
      <div class="col-sm-9">
        <input type="password" name="currentPassword" class="form-control" id="currentPassword" required>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">변경할 비밀번호</label>
      <div class="col-sm-9">
        <input type="password" name="newPassword" id="newPassword" class="form-control" required>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">비밀번호 확인</label>
      <div class="col-sm-9">
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" required>
      </div>
    </div>
	<div id="errorMessage" style="color:red;"></div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary w-50">비밀번호 변경</button>
    </div>
  </form>
</div>
